html{
		scroll-behavior: smooth;
		height: 100%;
}


body{
	font-family: 'Noto Sans', sans-serif;
	margin: 0;


}

a{
	color: #0c0c0c;
	text-decoration: none;
}


.content{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10%;
}

.container-box{
	margin-left: auto;
	margin-right: auto;
	padding-right: 2px;
	text-align: center;
}

.clear{clear:both;}

.logo{
	float: left;
}

.logo h2{
	color: #fff;
	font-weight: bold;
}



.user-foto{
	float: right;
}

.user-foto img{
	height: 50px;
	border-radius: 50%;
}

.user-foto{
	position:relative;
	top: 10px;
}



.user-sil{
	float: right;
}

.user-sil img{
	height: 60px;
	border-radius: 50%;
}

.user-sil{
	position:relative;
	top: 10px;
}





header{
	padding: 0px 0;
	background-color: #4c6beb;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 5px;
	z-index: 999;
}

.header-sil{
	padding: 10px 0;
	background-color: #4c6beb;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 5px;
	z-index: 999;
}

.header-sil .logo{
	float: right;
}

.header-sil .logo h2{
	padding-top: 10px;
}


.header-sil .user-foto{
	float: left;
}

.header-sil .user-foto img{
	height: 80px;
}



nav{

	position: fixed;
	width: 100%;
	top: 70px;
	padding-right: 0px	!important;
	padding-left: 0px !important;
	text-align: center;	
	left: 0;
	background-color: white;
	box-shadow: 1px 1px 15px #a9a9a9;
}

.opcoes-voce{
	margin: 70px 0px 0;
	padding-top: 10px;
	text-align: center;

}


.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.card{
	padding: 0 10px;
	margin: 0;
	margin-left: auto;margin-right: auto;
}

.card-selected h4{
	background-color: #4c6beb !important;

}

.card h4{
	background-color: #9BAFF5;
	border-radius: 25px;
	margin: 5px 0;
	padding: 7px 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 2px;

}



ul{

	list-style: none;
	padding: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;

}


li{
	color: black !important;
	text-align: center;
	padding-bottom: 10px;	
	width: 33.3% !important;
	float: left !important;
	display: inline;
	margin-top: 0;
	float: left;
}

li h4{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
		text-align: center;
		padding: 0;
		margin: 0;
}

li:hover, .exemplo{
	border-bottom: 5px solid #ffdc1d;
}


.area1{
	text-align: center;
	margin-top:180px !important;
	padding: 3px 15PX;
	border-radius: 15px;
	box-shadow: 6px 6px 14px #949494;
}
.area1 h3{
	font-size: 15px;
	font-weight: normal;
	padding: 0 !important;
	margin: 10px 0 0 0 !important;
}





.area1 h3 span{

	font-weight: bold;
}

.area1 p{
	font-size: 10px;
	font-weight: normal;
	margin-top: 3px;
	color: #071b6f !important;
}





footer{
	background-color: #4c6beb;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	text-align: center;
}

footer{

  /*animation-name: example;
  animation-duration: 22s;
  
   animation-iteration-count: infinite;
   border-top: 4px solid red ;*/
}

@keyframes example {
  0%   {border-color: yellow;}
  25%  {border-color: blue;}
  50%  {border-color: green;}
  100% {border-color: orange;}
}


.icon-special{
  /* animation-name: example;
  animation-duration: 22s;
  animation-iteration-count: infinite; 
  border: 3px solid gray !important;
    border-bottom: 0 !important;*/
}




.icon-special{

	margin: auto;
	width: 60px;
	height: 60px;
	text-align: center;
	position: relative;
	bottom: 40px !important;
	border-radius: 50%;
	background-color: #ffdc1d;
}

.icon1{
	float: left;
	position: absolute;
	right: 8%;
	top: 13%;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-bottom: 250px;
	background-color: white;
}

.icon2{
	float: left;
	position: absolute;
	right: 26%;
	top: 13%;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-bottom: 250px;
	background-color: white;
}


.icon3{
	float: left;
	position: absolute;
	right: 80%;
	top: 13%;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-bottom: 250px;
	background-color: white;
}

.icon4{
	float: left;
	position: absolute;
	right: 60%;
	top: 13%;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-bottom: 250px;
	background-color: white;
}

footer h3{
	font-size: 6px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
}

footer .icon-special h3{
	margin-top: 9px !important;
}


footer img{
	margin: 0;
	height: 30px;
	padding-top: 6px;

}

footer .icon-special img{
	padding-top: 10px;
	height: 40px;
}


.premios .op{
	text-align: center;
	width: 33%;
	float: left;
	padding: 15px 0px;
}

.op img{
	height: 30px;
	color: white;
	padding: 0 8px;
}


.op-1 img{
	padding: 0 15px !important;
	color: #f1f1f1;
}

.op h2{
	padding: 0 !important;
	font-size: 14px;
	margin: 0px;
	text-transform: uppercase;
	padding-bottom: 5px !important;
}

.op hr{
	width: 20%;margin-left: auto;margin-right: auto;
}

.op-1 h2{
	color: #ffdc1e;
	padding: 0 -10px 5px 0 !important;
}

.op-2 h2{
	color: #272dff;
	padding: 0 10px 5px 10px !important;
}

.op-3 h2{
	color: #d7ba76;
	padding: 0 8px 5px 10px !important;
}

#progressbar {
  margin-top: 20px !important;
  background-color: #e4e4e4;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 0px;
}

#progressbar>div {
  background-color: #4c6beb;
  width: 40%;
  /* Adjust with JavaScript */
  height: 7px;
  border-radius: 10px;
}

.progresso h5{
	margin: 5px;
	font-size: 10px;
	margin-bottom: 20px;
	color: #0407a0;
}

.area2{
	margin-top:30px;
	padding: 3px 15PX;
	border-radius: 15px;
	box-shadow: 2px 5px 8px #979797;
	background-color: rgba(255, 215, 0, 0.6);

}

.area2 h1{
	font-size: 20px;
	text-align: center;
	color: #323232;
	letter-spacing: 1px;
}

.area2 h1 span{
	color: #0407a0;
}

footer .icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .icon-selected{
	border: 5px solid #fff;
	background-color: #fff !important;
	top: 8% !important;

}


footer h3:hover, footer .icon-selected h3{
	color: yellow ;
}


footer .icon-special:hover{
	border: 2px solid #0407a0;
	background-color: #fff !important;	
}

.area3{
	text-align: center;
	margin-top:40px !important;
	padding: 3px 15PX;
	border-radius: 15px;
	box-shadow: 6px 6px 14px #949494;	
	margin-bottom: 80px;


}

.linha-area{
	padding: 0 10px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ffdc1d;
}

.last-line{
	border-bottom: 1px solid white;
}

.linha-area:hover{
	background-color: #e4e4e4 !important;
	color: black;
}


.linha-area p{

	float: left;
	font-size: 13px;
}

.more{
	float: right !important;
		color: #0407a0;
	
}

.area-avisos img{
	height: 100px;
	margin-top: 20px;
	border-radius: 50%;
	border: 3px solid #0407a0;
}

.area-avisos.info h3 i{
	color: #ffdc1d !important;
}


.area-avisos{
	text-align: center;
	margin:150px 20px 0 20px !important;
	padding: 3px 15PX;
	border-radius: 15px;
	box-shadow: 6px 6px 14px #949494;	
	margin-bottom: 80px;


}

.area-avisos h3{
	text-transform: uppercase;
	font-size: 15px;
}

.area-avisos h3 i{
	padding-right: 5px;
	color: darkred;
}

.area-avisos2{
	text-align: center;
	margin:50px 20px !important;
	padding: 3px 15PX;
	border-radius: 15px;
	box-shadow: 6px 6px 14px #949494;	
	margin-bottom: 80px;


}

.mt90{
	margin-top: 90px;
}

.area-avisos2 h3{
	text-transform: uppercase;
	font-size: 15px;
}

.area-avisos2 h3 i{
	padding-right: 5px;
	color: green;
}


.area-tudo img{
	height: 200px;
	margin: 0;
	padding: 0;
	margin-left: -10px !important;
	border-radius: 25px;

	box-shadow: 6px 6px 6px #949494;	
}

.area-tudo h3 i{
	color: #ffdc1d !important;
}


#dica-ia img{
	text-align: center;
	height: 250px !important;
}


#fale-conosco{
	padding-top: 80px;
	text-align: center;
}

.area-tudo{

	margin:50px 20px 0 40px !important;
	padding: 3px 15PX;
	border-radius: 15px;
	margin-bottom: 80px;

}

.area-tudo h3{
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 6px;
	margin-bottom: 0 !important;
	font-weight: normal;
	color: #0A3D9E;
}


.area-tudo h5{
	font-weight: normal;
	padding-left: 8px;
	padding-top: 6px;
}


.area-tudo h1,h5{
		padding-left: 6px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
}

.area-tudo h1{
	font-size: 20px;
	letter-spacing: 1px;

}


.revert{
	margin-top:30px;
	margin: 30px 10px;
	padding: 3px 5PX;
	border-radius: 15px;
	box-shadow: 2px 5px 8px #979797;
	background-color: rgba(0, 82, 165, 0.9);
}

.revert h1{
	font-size: 20px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
}

.revert h1 span{
	color: #ffdc1e;
}

.recomenda{
	padding: 10px 20px;
	
}

.recomenda img{
	border-radius: 10px;
	height: 150px;
	float: left !important;
	margin-right: 15px;
}

.item-info h2{
	padding-top: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.item-info p{
	margin-top: 0px !important;
	padding: 0 3px;
	letter-spacing: 1px;
}


.bloco{
	padding: 20px 10px;
	margin-right: auto;
	margin-left: auto;


	
}


.bloco .item{
	margin-top: 20px;

}

.bloco h1{
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 0;
	padding-bottom: 10px;
	letter-spacing: 2px;
	color: #0407a0;
	border-bottom: 1px solid blue;
}

.bloco img{
	border-radius: 10px;
	height: 150px;
	float: left !important;
	margin: 0 10px;
	box-shadow: 2px 5px 8px #979797;

}

.promo{
	background-color: rgba(0, 82, 165, 0.9);

	margin: 40px 0;
	padding: 15px;

}

.promo h1	{
	text-align: center;
	font-size: 20px;
	margin: 0 !important;
	padding: 0 !important;
	letter-spacing: 2px;
	color: #fff;
}

.promo h1 i{
	padding-left: 10px;
	color: #ffdc1e;

}
.servicos{
	padding: 20px 24px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	
}


.servicos .item{
	margin-top: 30px;
	float: left;
	width: 50%;


}

.servicos .servico-icon{
	border-radius: 10px;
	height: 120px;
	margin: 0 5%;
	background-color: white;
	box-shadow: 1px 1px 15px #a9a9a9;
}

.servico-icon i{
	padding-top: 20%;
	font-size: 50px;
	color: #003DA7;
}

.servico-icon h4{
	margin: 0;
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px 10px 5px;
}


.opcoes{
	margin-top: 60px;
	padding: 20px 24px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	
}


.opcoes .item{
	margin-top: 10px;
	margin-bottom: 10px !important; 
	width: 35%;

}


.opcoes .opcoes-icon{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin: 10px 25px;
	background-color: white;
	box-shadow: 1px 1px 15px #a9a9a9;

}

.item{
	display:inline-block;
}

.item h2{
	text-align: center !important;
	margin-top:5px;
	padding-top: 5px;
	font-size: 14px;
	text-transform: uppercase;
}


.opcoes-icon i{
	position: relative;
	padding-top: 15px;
	font-size: 30px;
	color: #4c6beb;
}

.onboarding{
	width: 100%;
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
  	position: absolute;
}

.onboarding-01{
	background-image: url("../images/on-01.jpg");

}

.onboarding .pular{
	float: right;
	margin: 10%;
	padding: 14px 20px;
	border-radius: 10px;
	color: #edce14;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 1px solid #edce14;
	font-size: 13px;
}

.onboarding .next{
	position: absolute;
	bottom: 0 !important;
	right: 10px;
	margin: 100px 40px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: bold;
	padding: 15px 25px;
	border-radius: 5px;
	background-color: white;
}

.onboarding .texto{
	position: absolute;
	top: 35%;
	margin: 0 25px;
	color: #fff;
}

.texto h2{
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 45px;
}

.texto h2 span{
	font-size: 42px !important;
	color: #edce14;
}

.texto p{
	font-size: 23px;
	padding-right: 30px !important;
}

.bullets{

	position: absolute;
	bottom: 0;
	margin: 120px 35px;

}

.bullets .bullet{
	float: left;
	height: 15px;
	width: 15px;
	background-color: white;
	margin-right: 10px;
	border-radius: 50%;
	opacity: 60%;
}

.bselect{
	background-color: #edce14 !important;
}

.onboarding-02{
	background-image: url("../images/on-02.jpg");

}



.bblue .texto h2 span{
	font-size: 36px !important;
	color: #014783;
}

.bblue .bselect{
	background-color: #014783 !important;
}

.bblue .pular{

	color: #014783 !important;
	border: 1px solid #014783 !important;

}

.onboarding-03{
	background-image: url("../images/on-03.jpg");

}


.onboarding .entrar{
	position: absolute;
	bottom: 0 !important;
	right: 35px;
	margin: 100px 40px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: bold;
	padding: 15px 55px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 10px 10px 15px #0c0c0c;
}


.tela-login{
	width: 100%;
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
  	position: absolute;
  	background-color: #2d4c9c;
  	text-align: center;
  	padding-top: 50px;

}


.logo-login img{
	height: 100px;
}


.logo-login h2, .logo-login h4{
	margin: 0;
	color: #fff;
}

.logo-login h2{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 28px;
}

.logo-login h4{
	font-size: 13px;
	margin-bottom: 50px;
	font-weight: normal;
	color: lightgrey;
	opacity: 60%;
}

.form-login{
	margin-right: auto;
	margin-left: auto;
}


.user{
	margin-right: auto !important;
	margin-left: auto !important;	
}



.user {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 18px;
  background: #000000;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}

.input-field {
  width: 100%;
  padding: 20px;
  outline: none;
  background-color: #181922;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;

}

.input-field:focus {
  border: 2px solid black;
}

/* Set a style for the submit button */
.btn {
  background-color: #f4d414;
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-top: 30px;
  border-radius: 10px;
}

.btn:hover {
  opacity: 1;
}

.senha-login{
	color: lightgray;
	font-size: 13px;
	letter-spacing: 2px;
}

.ajuda-login{
	text-align: center;
	padding-top: 30px;
	color: lightgray;
	font-size: 15px;
}

.ajuda-login span{
	font-weight: bold;
	color:#f4d414;
}


/* MARGIN E PADDING */

.mt10{
	margin-top: 10px;
}



.mt30{
	margin-top: 30px;
}

.pt30{
	padding-top: 30px;
}

.mt50{
	margin-top: 50px;
}

.pt50{
	padding-top: 50px;
}

.mt90{
	margin-top: 90px;
}

.pt90{
	margin-top: 90px;
}


.mb30{
	margin-bottom: 30px;
}

.pb30{
	padding-bottom: 30px;
}

.mb50{
	margin-bottom: 50px;
}

.pb50{
	padding-bottom: 50px;
}

.mb90{
	margin-bottom: 90px;
}

.pb90{
	margin-bottom: 90px;
}


/* CORES - BACKGROUND */


.bg-amarelo{
	
	background-color: rgba(255, 215, 0, 0.6);
}

.bg-branco{
	background-color: #fcfcfc;
}


.bg-azul{
	background-color: #0053A1;

}

.bg-azul h1{
	color: #fff !important;
}

.bg-azul2{
	background-color: #003DA7;
}

.bg-azul3{
	background-color: #111835;
}

.bg-preto{
	background-color: #222222;
}


/* CORES - TEXTO */


.bg-amarelo h1{
	color: #222222;
}

.bg-amarelo h1 span{
	color: #0407a0;
}







.bloco-atendimento{
	padding: 3px 15PX;
	border-radius: 15px;
	box-shadow: 6px 6px 14px #949494;
}

.bloco-atendimento h1{
	font-size: 20px;
	text-align: center;
	color: #323232;
}

.titulo-att h2{
	font-size: 12px;
	margin-top: 0;
	padding-bottom: 10px;
	color: #0407a0;
	border-bottom: 1px solid blue;
	letter-spacing: 1px;
}

.att p{
	font-size: 12px;
	font-weight: bold;
}

.att span p{
	font-size: 11px;
	margin-left: 10px;
	border-left: 1px solid black;
	padding-left: 10px;
	font-weight: normal;

}


.acompanhar{
	width: 100%;
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
  	position: absolute;
}

.acompanhar-1{
	background-image: url("../images/acompanhar-1.png");

}

.acompanhar-2{
	background-image: url("../images/mapa.png");
}


.acompanhar .texto{
	text-align: center;
	position: relative;
	margin: 0 20px;
	color: #fff;
}

.acompanhar .texto h2{
	font-size: 22px;
	text-transform: none;
	letter-spacing: 1px;
	color: #0052a5;
}


.acompanhar img{
	margin-top: 55%;
	height: 220px;

}


.acompanhar .texto p{
	font-size: 16px;
	text-align: center;
	padding: 0 15px !important;
	color: #000;
	padding-bottom: 40px !important;
}

.acompanhar .btn-acompanhar{
	position: relative;
	text-align: center;
	margin: 10px 20px;
	font-size: 18px;
	padding: 10px 55px;
	border-radius: 5px;
	background-color: #0052a5;
	color: #fff;
}

.acompanhar .btn-voltar{
	position: relative;
	text-align: center;
	margin: 10px 20px;
	font-size: 18px;
	padding: 10px 55px;
	border-radius: 5px;
	background-color: #051133;
	color: #fff;
}


.pin1 img{
	position: absolute;
	height: 100px;
	top: 270px;
	left: 75px !important;
	animation-name: example;
	animation-duration: 1s;
	animation-delay: 0s;
}

.pin2 img{
	position: absolute;
	height: 100px;
	top: -200px;
	left: 245px !important;
	animation-name: example;
	animation-duration: 2s;
	animation-delay: 0s;

}

@keyframes example {
  0%   {opacity: 0%;}
  100% {opacity: 100%;}
}

.path img{
	height: 395px;
	position: absolute;
	top: -110px;
	left: 95px !important;
	animation-name: example;
	animation-duration: 3s;
	animation-delay: 0s;
}

.acompanhar-text{
	text-align:center;
	margin: 70% 55px 0;
	text-transform: uppercase;
	
	
}

.acompanhar-text h2{
	font-size: 20px;
	font-weight: normal;
	padding: 10px 0;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 2px 5px 8px #979797;
	background-color: rgba(255, 215, 0);
	padding-bottom: 20px;
}

.acompanhar-text span{
	font-size: 13px;
	font-weight: bold;
}






.servicos2{
	margin: 80px 20px;
}



.servicos2 .item{
	margin-top: 5px !important;
	width: 100%;

}

.servicos2 .servico2-icon{
	border-radius: 10px;

	height: 100px;
	width: 100%;
	background-color: white;
	box-shadow: 1px 1px 15px #a9a9a9;
}


.servico2-icon h4{
	font-size: 18px;
	padding: 40px 50px 0px !important;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3px;
	text-transform: uppercase;
}


.servico2-icon i{
	color: #003DA7;
	float: right;
	font-size: 42px;
	margin-top: -7px !important;
}


.titulo-serv h2{
	font-size: 12px;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 10px;
	color: #0407a0;
	border-bottom: 1px solid #0407a0;
	letter-spacing: 1px;
}





/* horario */


.titulo-horario h2{
	font-size: 12px;
	margin-top: 0;
	padding-bottom: 10px;
	color: #0407a0;
	border-bottom: 1px solid blue;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 90px;
	margin-bottom: 50px;
}

.horario p{
	font-size: 12px;
	font-weight: bold;
}

.horario span p{
	font-size: 11px;
	margin-left: 10px;
	border-left: 1px solid black;
	padding-left: 10px;
	font-weight: normal;

}

.bloco-horario{
	padding: 13px 15PX;
	border-radius: 15px;
	box-shadow: 6px 6px 14px #949494;
}

.bloco-horario h1{
	font-size: 23px;
	text-align: center;
	color: #323232;
	letter-spacing: 1px;
	text-transform: uppercase;
}



.titulo-sil h2{
	font-size: 12px;
	margin-top: 0;
	padding-bottom: 10px;
	color: #0407a0;
	border-bottom: 1px solid blue;
	letter-spacing: 1px;
}

.sil p{
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;

}



.sil{
	margin: 10px 30px 10px 10px;
}

.sil span {
	font-weight: bold;

}

.bloco-sil{
	padding: 3px 30PX;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;

}

.bloco-sil h1{
	font-size: 20px;
	text-align: left;
	color: #323232;
}

.bloco-ask{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: auto;
	border-radius: 5px;
	text-align: center;
	box-shadow: 3px 3px 14px #949494;
}

.bloco-yes{
	height: 150px;
	float: left;
	width: 40%;
}

.bloco-yes p{
	font-size: 25px;
	position: relative;
	padding-top: 30px;
}

.cards-sil{
	height: 200px;
}

.cards-sil .card{
	padding: 0px 50px;
}

.cards-sil p{
	font-size: 15px;
	position: relative;
	height: 50%;
}